<div class="site-content">
  <div class="hero" data-bg-image="assets/images/banner.png">
    <div class="container find-location">
        <input type="text" placeholder="Find your location..." #locationValue>
        <button  class="button" value="Find" (click)="getLocationByCity(locationValue.value)">Find</button>
    </div>
  </div>
  <div class="forecast-table">
    <div class="container">
      <h3 class="nf" *ngIf="error">Oops, location not found</h3>
      <div class="forecast-container">
        <div class="fwrap" *ngIf="today && location && current && !error">
          <div class="today forecast">
            <div class="forecast-header">
              <div class="day">{{today}}</div> 
              <div class="date">6 Oct</div>
            </div>
            <div class="forecast-content">
              <div class="location">{{location.name}}</div>
              <div class="degree">
                <div class="num">{{current.temp_c}}<sup>o</sup>C</div>
                <div class="forecast-icon">
                  <img src="{{current.condition.icon}}" alt="" width=65>
                </div>	
              </div>
              <span><img src="assets/images/icon-wind.png" alt="">{{current.wind_kph}}km/h</span>
              <span><img src="assets/images/icon-compass.png" alt="">{{current.wind_dir}}</span>
            </div>
          </div>

          <div class="forecast" *ngFor="let day of forecast">
            <div class="forecast-header">
                <div class="day">{{day.date}}</div>
              </div>
              <div class="forecast-content">
                <div class="forecast-icon">
                  <img src="{{day.day.condition.icon}}" alt="" width=48>
                </div>
                <div class="degree">{{day.day.maxtemp_c}}<sup>o</sup>C</div>
                <small>{{day.day.mintemp_c}}<sup>o</sup></small>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>